<div 
        class="
                flex 
                justify-end
                sm:justify-between 
                items-center 
                dark:bg-neutral-950/95
                bg-neutral-100
                w-full
                h-20 
                p-2 
                rounded-xl
            "
        >
            <div 
                class="
                    hidden 
                    lg:block
                    ml-4 
                    space-x-4 
                    divide-gray-50 
                "
            >
                <fa-icon [icon]="faUserAlt" class="text-xl text-green-700 "></fa-icon>
                <span class="mt-1 border-l-[2px]  dark:border-neutral-900 text-neutral-900 dark:text-neutral-100 pl-4">Lyes BOUCHAREB</span>
            </div>
            <!-- <div 
                *ngIf="showSearchInput"
                class="
                    flex 
                    justify-between
                    px-4 py-3
                    w-96
                    focus:w-96
                    hover:w-96
                    text-white/95 
                    bg-neutral-800 
                    focus:outline-none 
                    hover:ring-1 
                    focus:ring-2 
                    hover:ring-red-400 
                    focus:ring-red-400 
                    transition-all
                    duration-700
                    rounded-2xl
                " 
            >
                <input 
                type="text" 
                    class="
                        w-full
                        outline-none
                        bg-neutral-800 
                    "
                    placeholder="Rechercher un evenement"
                >
                <fa-icon 
                    class="mr-2 hover:scale-90 cursor-pointer" 
                    [icon]="faSearch"
                >
                </fa-icon>
            </div>
            <div class="
                    lg:hidden 
                    mr-4 
                    text-2xl 
                    cursor-pointer
                    text-neutral-400 x
                    hover:text-white/90 
                    "
            >
                <fa-icon [icon]="faBars"></fa-icon>
            </div> -->
            <div class="flex flex-row space-x-6 mr-4 justify-center text-center items-center">
                <fa-icon [icon]="faMoon" (click) = "toogleTheme()"  class="text-2xl dark:text-neutral-700 px-3 py-1 dark:bg-slate-100 rounded-full text-neutral-100 bg-neutral-700 cursor-pointer"/>
            </div>
</div>