<div class="fixed inset-0 bg-neutral-600/70 z-50 flex justify-center items-center overflow-y-auto shadow" *ngIf="showModal">
    <div [@modalAnimation]="startExitAnimation ? 'void' : 'enter'" (@modalAnimation.done)="animationDone($event)" class="flex flex-col  py-4 w-4/5 h-4/5 bg-neutral-100 rounded-md border-[1px] border-neutral-400">
        <div class="flex justify-start items-center border-b-[1px] pb-4">
            <div class="
                bg-emerald-700/20
                rounded-full
                mx-4
                px-3
                py-2
                w-fit h-fit
            ">
                <fa-icon
                    [icon]="faClose"
                    tabindex="0"
                    (keyup.enter)="closeModalWithAnimation()"
                    (click)="closeModalWithAnimation()"
                    class="
                        text-xl
                        font-sans
                        text-neutral-700
                        cursor-pointer
                        hover:scale-90
                    "
                >
                </fa-icon>
            </div>
            <span class=" text-sm font-sans text-neutral-800 focus:bg-neutral-950">Création d'un événement</span>
        </div>
        <body class="flex flex-col w-full font-sans items-center py-8 px-6">
            <div class="grid grid-cols-4 items-center gap-6 w-full text-neutral-800  border-b-[1px] pb-8 ">
              <div class="relative separator"><span >Titre</span></div>
              <app-input placeHolderText="Saisissez votre titre" [additionalClasses]="'h-10'"></app-input>
              <div class="relative separator">Lieu</div>
              <app-input placeHolderText="Saisissez le lieu" [additionalClasses]="'h-10'"></app-input>
              <div class="relative separator"><span >Lieu</span></div>
              <app-input placeHolderText="Saisissez votre titre" [additionalClasses]="'h-10'"></app-input>
              <div class="relative separator">Capacité</div>
              <app-input placeHolderText="Saisissez le lieu" [additionalClasses]="'h-10'"></app-input>
              <div class="relative separator">Catégorie</div>
              <app-input placeHolderText="Saisissez le lieu" [additionalClasses]="'h-10'"></app-input>
            </div>
        </body>
        <footer>
            <!-- Pied de page du modal ici -->
        </footer>
    </div>
</div>
