<div class="dark:bg-neutral-900 w-screen h-screen overflow-y-auto relative bg-custom-background dark:bg-custom-background-dark bg-no-repeat bg-cover">
    <app-sidebar></app-sidebar>
    <div class="flex flex-col justify-center items-center text-white absolute  right-0 top-0 sm:left-80 w-full sm:w-auto ml-4 mt-2 mr-2">
        <app-navbar class="w-full"></app-navbar>
        <!-- Le router-outlet doit être le seul élément ici pour afficher le composant de la route active -->
        <div class="w-full h-screen">
            <app-modal></app-modal>
            <app-home></app-home>
        </div>
    </div>
</div>
