<div class="
    h-screen
    w-screen
    font-sans

">
    <div class="
        flex
        flex-col
        h-full
        w-full
    ">
        <nav class="
                flex
                flex-row
                justify-end
                items-center
                text-neutral-700
                shadow
                h-16
                z-10

        ">
            <div class="flex flex-col sm:flex-row justify-between items-center mx-4 w-full h-16">
                <div class="flex-1">
                    <a class="font-sans ml-6 my-2 text-2xl sm:my-0 text-neutral-800 font-medium cursor-pointer">
                        Planify
                    </a>
                </div>
                <div class="
                    flex
                    justify-center
                    items-center    
                    h-full
                    transition-all
                    duration-400
                    ease-in-out
                    cursor-pointer
                    text-neutral-700
                    space-x-4
                ">
                    <div class="nav-item relative inline-block px-2 py-1 text-gray-700 hover:text-blue-900"><span>Nos réalisations</span></div>
                    <div class="nav-item relative inline-block px-2 py-1 text-gray-700 hover:text-blue-900">À propos</div>
                    <div class="nav-item relative inline-block px-2 py-1 text-gray-700 hover:text-blue-900">Contact</div>
                </div>
                <div class="flex justify-end flex-1 items-center  mr-6 ">
                    <div class="nav-item relative px-2 py-[2px] text-gray-700  space-x-5 items-center group ">
                        <span tabindex="0" (keyup.enter) = "onLoginClick()" (click)="onLoginClick()" class=" text-neutral-600 hover:text-blue-900 cursor-pointer">Connexion</span>
                        <fa-icon tabindex="0" (keyup.enter) = "onLoginClick()" (click)="onLoginClick()" [icon]="faSignInAlt"  class="group-hover:scale-110 hover:text-blue-900 cursor-pointer text-xl transition ease-in-out duration-300"></fa-icon>
                    </div>
                </div>
            </div>
        </nav>
        <div class="
            flex
            flex-col
            items-center
            justify-center
            h-full
            w-full
            bg-custom-background-auth
            bg-cover
            bg-no-repeat
            opacity-85  
         ">
            <form class="
                flex
                flex-col
                items-center
                w-[410px]
                h-[520px]
                border-[1px]
                border-neutral-300
                bg-white
                rounded-2xl
                p-6
                shadow
                px-12
                text-neutral-700
            ">
                <div class="my-4">
                    <span class="text-3xl font-medium text-blue-950">Planify Login</span>    
                    <div class="flex flex-col mt-10">
                        <p>Veuillez vous connecter ici avec votre Planify Login.</p>
                        <div class="mt-8 space-y-4">
                            <div>
                                <app-input labelText="Email"></app-input>
                            </div>
                            <div>
                                <app-input inputType="password" labelText="Mot de passe"></app-input>
                            </div>
                            <div>
                                <button class="w-full bg-blue-950 rounded-lg p-4 text-white mt-5 mb-4 hover:opacity-95">
                                    Valider
                                </button>
                                <div class="text-neutral-500 space-y-1">
                                    <p class="cursor-pointer"> Mot de passe oublié?</p>
                                    <p class="cursor-pointer"> Registration</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
         </div>
         <footer class="flex justify-end w-full h-24 bg-gray-800 text-white items-center">
            <span class="mr-20">À propos de Planify.Co</span>
         </footer>
    </div>
</div>
