<div class="
        flex
        flex-col
        h-full  
        p-10 
        mt-2 
        dark:bg-neutral-950/95
        bg-neutral-100
        rounded-xl
        mb-4
">
    <div>
        <span class="text-2xl uppercase dark:text-neutral-100 text-neutral-900">Liste des evenements</span>
        <div class="border-2 border-red-400/60 w-16 mt-2 rounded"></div>
    </div>
    <div class="relative overflow-x-auto shadow rounded-t-lg mt-6">
        <table class="w-full text-sm font-sans text-neutral-700 dark:text-gray-400">
            <thead class="text-sm uppercase dark:bg-neutral-900 bg-neutral-200/70">
                <th *ngFor="let evenementKey of evenementKeys"  scope="col" class="px-6 py-4 border-r-[0.5px] border-neutral-300/50 dark:border-neutral-950">{{evenementKey}}</th>
            </thead>
            <tbody class=" dark:text-neutral-300 text-neutral-700">
                <tr *ngFor="let evenement of evenements" class="dark:bg-gray-900 bg-neutral-50 cursor-pointer p-2 border-b border-r dark:border-neutral-800 dark:hover:bg-gray-900/80 border-neutral-200 dark:hover:text-white hover:text-neutral-950 hover:bg-neutral-100/90">
                    <td class="px-3 py-4 text-center">{{evenement.titre}}</td>
                    <td class="px-3 py-4 text-center">{{evenement.lieu}}</td>
                    <td class="px-3 py-4 text-center ">{{evenement.categorie}}</td>
                    <td class="px-3 py-4 text-center">{{evenement.dateDebut}}</td>
                    <td class="px-3 py-4 text-center">{{evenement.dateFin}}</td>
                    <td class="px-3 py-4 text-center">{{evenement.capacite}}</td>
                    <td class="px-3 py-4 text-center ">{{evenement.status}}</td>
                    <td class="text-neutral-800 px-3 py-4 text-center space-x-6">
                        <fa-icon class="cursor-pointer text-lg dark:hover:text-white hover:text-xl dark:text-neutral-300 hover:text-yellow-500 transition-all duration-200"  [icon]="faEdit"></fa-icon>
                        <fa-icon (click)="deleteEvenement(evenement.id)" class="cursor-pointer text-lg dark:text-neutral-300 dark:hover:text-red-800  hover:text-red-800 hover:text-xl transition-all duration-200"  [icon]="faTrash"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>