/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer components {
    .nav-item::after {
      @apply absolute -bottom-4 w-0 h-0.5  bg-blue-900 left-1/2 transition-all duration-300 ease-in-out;
      content: '';
    }

    .nav-item:hover::after {
      @apply w-full left-0 right-0;
    }

    .separator::after {
      content: '';
      @apply absolute w-3/5 border-dotted border-[1px] left-20 sm:right-28 -right-10 top-1/2 border-neutral-300;
    }
  }
