<div class="
        hidden 
        sm:flex
        flex-col 
        w-80 
        h-screen 
        space-y-2 
        dark:text-neutral-400
        text-neutral-600 
        font-sans 
        m-2 
        fixed
        top-0
        right-0
        left-0
      ">
    <nav 
        class="
            flex 
            flex-col 
            h-40 
            gap-4 
            rounded-xl 
            px-4 
            py-6 
            bg-neutral-100
            dark:bg-neutral-950/95
        "
    >
        
        <a 
            class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition"
            routerLink="/home"
            routerLinkActive="text-yellow-700"
        >
            <div>Accueil</div>
            <fa-icon class="mr-2" [icon]="faHomeAlt"></fa-icon>
        </a>
        <a 
            (click)="toggleSearchInput()" 
            (keyup.enter)="toggleSearchInput()" 
            tabindex="0" 
            class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition
        ">
            <div>Recherche</div>
            <fa-icon 
                class="mr-2" 
                [icon]="faSearch"
            >
            </fa-icon>
        </a>
    </nav>
    <div class="
            flex 
            flex-col 
            h-screen 
            rounded-xl 
            px-4 py-6 
            bg-neutral-100
            dark:bg-neutral-950/95
            mb-4
            "
    >
        <nav class="grid grid-cols-1 gap-6">
            <a tabindex="0" (keyup.enter)="onShowModal()"  (click)="onShowModal()" class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition">
                <div>Creation d'evenement</div>
                <fa-icon [icon]="faAdd"></fa-icon>
            </a>
            <div class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition">
                <div>Modification d'evenement</div>
                <fa-icon [icon]="faEdit"></fa-icon>
            </div>
            <hr class="mt-2 mb-2"/>
            <div class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition">
                <div>Créer un nouveau participant</div>
                <fa-icon [icon]="faUserPlus"></fa-icon>
            </div>
            <div class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition">
                <div>Liste des participants</div>
                <fa-icon [icon]="faUsers"></fa-icon>
            </div>
        </nav>
        <nav class="mt-auto">
            <hr />
            <a class="flex justify-between hover:text-neutral-950 dark:hover:text-white cursor-pointer transition mt-4 ">
                <div >Compte</div>
                <fa-icon [icon]="faUserEdit"></fa-icon>
            </a>
            <a class="flex justify-between  cursor-pointer hover:text-neutral-950 dark:hover:text-white transition mt-4 ">
                <div >Options</div>
                <fa-icon [icon]="faCog" class="mr-1"></fa-icon>
            </a>
            <div tabindex="0" (keyup.enter) = "onLogoutClick()" (click)="onLogoutClick()" class="flex justify-between  cursor-pointer hover:text-neutral-950  dark:hover:text-white transition mb-44 mt-4">
                <div >Se deconnecter</div>
                <fa-icon  [icon]="faSignOutAlt" class="mr-1"></fa-icon>
            </div>
    </nav>
</div>
